extends layout
block title
    | Unlock
block content
    nav.navbar.navbar-custom.navbar-fixed-top(role="navigation")
        .container
          .navbar-header.page-scroll
            a.navbar-brand(href="/") BitTrade
          // Collect the nav links, forms, and other content for toggling
          .collapse.navbar-collapse.navbar-right.navbar-main-collapse
            ul.nav.navbar-nav
              li.active
                a(href="/") Home
              li
                a(href="/#about") About
              li
                a(href="/transaction") bitTrade
              li
                a(href="/unlock") Unlock
         // /.navbar-collapse
        // /.container
      // Section: intro
    section#intro.chat-intro
     .slogan
      h2
        | Unlock
    section.home-section.text-center
      .heading-contact
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .wow.bounceInDown(data-wow-delay="0.4s")
                .section-heading
                  h2 Open Lock
      .container
        .row
          .col-lg-12
            .boxed-grey
                .row
                    .categories
                        .col-md-6
                            button#initial.btn.btn-success.center(type="button")
                                | Initialize New Property Key
                        .col-md-6
                            button#turnOn.btn.btn-warning.center(type="button")
                                | Lock Commands
                    .lockCommands
                        .form-group
                            button#init.btn.btn-danger.center(type="button")
                                | Initalize Lock
                        .form-group
                            button#getTx.btn.btn-primary.center(type="button")
                                | Get Most Recent Tx
                        .form-group
                            button#getAddress.btn.btn-primary.center(type="button")
                                | Get Address
                         .form-group
                            button#open.btn.btn-success.center(type="button")
                                | Open Lock
                    .privNKey
                        .col-md-8
                            .form-group
                                label(for="PrivateAddress")
                                  | Lock's Private Key
                                input#privNKey.form-control(type="password", placeholder="Private")
                            button#keySend.btn.btn-skin.pull-left(type="button")
                                | Send
                    .col-md-6            
                        #notes
                form
                .row
                  .col-md-6
                    .form-group
                        .buying
                          .form-group
                            label(for="PaymentAddress")
                              | Payment Address
                            input#payaddress.form-control(type="text", placeholder="Address")
                          .form-group
                            label(for="ChangeAddress")
                              | Change Address
                            input#chanaddress.form-control(type="text", placeholder="Address")
                          .form-group
                            label(for="")
                              | Satoshis input
                            input#propvalue.form-control(type="number", placeholder="Satoshis")
                        .buyPriv
                          .form-group
                            label(for="PrivateAddress")
                              | Your Private Key
                            input#priveaddress.form-control(type="password", placeholder="Private")
                        .col-md-6
                            #selection
                              .currentUTXOs
                                .form-group
                        .col-md-12
                            button#signs.btn.btn-skin.pull-right(type="button")
                              | Send
                .col-lg-4            
                    #server_outputs